/* Global */

body {
    background-color: #A48300;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;

}

/* Navigation Bar */

.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: center;
    z-index: 1;
    /* Glassmorphism */
    background: rgba(23, 23, 23, 0.25);
    box-shadow: 0 8px 32px 0 rgba(74, 74, 74, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.navbar img {
    grid-column: 2/ span 4;
    width: 50%;
}

.nav-container {
    grid-column: 6 /span 6;
    justify-self: right;

}

.nav-container a {
    text-decoration: none;
    color: #fff;
    margin: 20px;
    font-size: 15px;
}

.nav-container a:hover {
    color: #A48300;
}

#cart {
    font-size: 25px;
    position: relative;
    top: 5px;
}

/* Heading Section */

.heading {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.heading-image {
    margin-top: 0;

    grid-column: span 12;
}

.heading-image img {
    width: 100%;
}

.heading-text {
    position: relative;
    bottom: 900px;
    left: 200px;
    padding-right: 1200px;

    grid-column: span 12;

}

.heading-text h2 {
    font-size: 80px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.empowering {
    color: #A48300;
}

.product-view {
    position: relative;
    bottom: 950px;
    left: 200px;
    grid-column: span 12;
}

.product-view button {
    font-size: 20px;
    color: #A48300;
    background-color: transparent;
    border: solid 1px #A48300;
    border-radius: 50px;
    width: 250px;
    padding: 10px;
}

.product-view button:hover {
    border: none;
    background-color: #A48300;
    color: white;
}


/* Subheading Section */

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    bottom: 600px;
}

.subheading {
    background-color: black;
    grid-column: span 12;
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.subheading h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    color: #A48300;
}

.mission {
    /* display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 400px; */
    grid-column: 3 / span 4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 100px;



}

.pancake {
    grid-column: 8 /span 3;
    align-self: center;
    justify-self: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.pancake img {
    width: 100%;

}

/* About Us Section */

#about {

    grid-column: span 12;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: black;
    /* position: relative;
    bottom: 300px; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

#about p::selection {
    color: white;
    background-color: #A48300;
}

#about h2 {
    font-size: 60px;
    font-weight: lighter;
    color: #A48300;
}

#about h3 {
    color: #A48300;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

/* Video Section */

.pastry-video {
    position: relative;
    bottom: 600px;
}

/* Products Section */

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20rem;
    background-color: rgb(59, 35, 0);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;


    position: relative;
    bottom: 650px;
    padding: 150px;
}

#products h2 {
    color: #A48300;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.prdt a,
.prdt li {
    text-decoration: none;
    color: #A48300;
}

.prdt a:hover {
    color: white;

}

.bottom-part {
    position: relative;
    bottom: 300px;
}

.doughnuts {
    background-color: black;
}

.doughnuts img {
    width: 100%;
    position: relative;
    bottom: 350px;

}

/* Location Section */

.location {
    background-color: rgb(59, 35, 0);
    position: relative;
    bottom: 400px;
    padding: 50px;
}

.location h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #A48300;
    font-size: 50px;

}

.location iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Footer Section */

footer {
    position: relative;
    bottom: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;


    /* Sign-Up Form Section */



    .sign-up {
        justify-content: center;
        font-size: 30px;
        text-align: center;
        /* grid-area: sign-up; */
        width: 500px;
        height: 600px;
        border-radius: 50px;
        padding-top: 50px;

        /* Glassmorphism */
        background: rgba(23, 23, 23, 0.25);
        box-shadow: 0 8px 32px 0 rgba(74, 74, 74, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);

    }

    .sign-up h3 {
        font-weight: lighter;
    }

    .sign-up form {
        padding-top: 50px;
    }

    .sign-up input[type=text] {
        background-color: transparent;
        border: solid #A48300 1px;
        width: 200px;
    }

    .sign-up input[type=email] {
        background-color: transparent;
        border: solid #A48300 1px;
        width: 200px;

    }

    ::placeholder {
        color: white;
        font-style: italic;
    }

    /* Contact Us Section */

    .contact {
        /* grid-area: contact; */

        font-size: 30px;
        text-align: center;
        padding-top: 50px;
        width: 500px;
        height: 600px;
        border-radius: 50px;

        /* Glassmorphism */
        background: rgba(23, 23, 23, 0.25);
        box-shadow: 0 8px 32px 0 rgba(74, 74, 74, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);

    }

    .contact p {
        padding: 30px;
        font-size: 25px;
        font-weight: lighter;
    }

    .contact p:hover {
        color: #A48300;
    }

    .contact h3 {
        font-weight: lighter;
    }


    #_submit {
        font-size: 20px;
        color: white;
        background-color: transparent;
        border: solid 1px #A48300;
        border-radius: 50px;
        width: 250px;
        padding: 10px;
    }

    #_submit:hover {
        border: none;
        background-color: #A48300;
        color: white;
    }



}


.copyright {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    top: 300px;
    background-color: black;
    padding: 3px;
    color: #A48300;
    text-align: center;
    margin-top: -300px;

}

.copyright p {
    grid-column: span 6;
    justify-self: center;

}

.copyright .terms {
    grid-column: 7 /span 5;
    align-self: center;
    justify-self: center;
}

.copyright a {
    text-decoration: none;
    color: #A48300;
    padding-left: 50px;
}

.copyright a:hover {
    color: #A48300;
}

/* Overlay Side Bar Section */

.overlay {
    position: fixed;
    right: -40px;
    bottom: 200px;

    text-align: center;
    color: #fff;
    border-radius: 10px;
    width: 50px;
    padding: 4px;
    padding-right: 40px;
    border: 2px solid white;

    /* Glassmorphism */
    background: rgba(195, 195, 195, 0.25);
    box-shadow: 0 8px 32px 0 rgba(74, 74, 74, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.overlay .logo-wrapper {
    font-size: 30px;
}

.overlay .logo-wrapper:hover {
    color: white;
}

/* Media Queries */

@media screen and (max-width: 1200px) {

    /* Tablet */

    .navbar {
        width: 100%;
    }


    .navbar img {
        grid-column: span 4;
        width: 200px;

    }

    .nav-container {
        grid-column: 6/ span 7;
        align-self: center;
        justify-self: center;
    }

    .nav-container a {
        font-size: 12px;
        margin-left: 5px;
        align-self: center;
    }

    #cart {
        font-size: 20px;
    }

    .heading-text {
        position: relative;
        bottom: 400px;
        left: 100px;
        padding-right: 500px;
        padding-bottom: 300px;
        grid-column: span 12;

    }

    .heading-text h2 {
        font-size: 50px;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
    }

    .product-view {
        position: relative;
        bottom: 730px;
        left: 100px;
        grid-column: span 12;
    }

    .product-view button {
        font-size: 15px;
        padding: 10px;
    }

    main {
        position: relative;
        bottom: 650px;
    }

    .subheading {
        padding: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .subheading h3 {
        font-size: 30px;

    }

    .mission {
        grid-column: 3 / span 4;
        font-size: 30px;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    #about {

        padding: 100px;
        padding-top: 50px;
        padding-bottom: 100px;
        font-weight: lighter;
        font-size: 20px;
    }


    #about h2 {
        font-size: 40px;
        font-weight: lighter;
        color: #A48300;
    }

    #about h3 {
        color: #A48300;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
    }

    #about img {
        width: 70%;

    }

    .pastry-video {
        position: relative;
        bottom: 700px;
    }

    #products {

        font-size: 20px;
        position: relative;
        bottom: 750px;
        padding: 70px;
    }

    #products h2 {
        color: #A48300;
        font-weight: 400;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }

    .bottom-part {
        position: relative;
        bottom: 400px;

    }

    .location h2 {
        font-size: 40px;
    }

    footer {
        justify-content: space-evenly;
        flex-flow: column;



    }

    footer .sign-up {
        height: 400px;
        align-self: center;
    }


    footer .sign-up form {
        font-size: 20px;
    }

    footer .sign-up h3 {
        font-size: 30px;

    }

    .sign-up #_submit {
        font-size: 15px;

    }


    footer .contact {
        align-self: center;
        font-size: 20px;
        height: 400px;
    }

    footer .contact p {
        font-size: 20px;

    }

    .bottom-part {
        margin-bottom: -80px;
    }

    .copyright p {
        font-size: 12px;
    }

    .copyright a {
        font-size: 12px;

    }

}



@media (max-width: 800px) {
    .navbar {
        width: 100%;
        padding-bottom: 30px;
    }


    .navbar img {
        grid-column: span 12;
        justify-self: center;
        width: 200px;

    }

    .nav-container {
        grid-column: span 12;
        align-self: center;
        justify-self: center;
    }

    .nav-container a {
        font-size: 12px;
        margin-left: 5px;
        align-self: center;
    }

    #cart {
        font-size: 20px;
    }

    .heading-image {
        width: 120%;
        padding-bottom: 120px;

    }

    .heading-text {
        position: relative;
        bottom: 400px;
        left: 50px;
        padding-right: 100px;
        padding-bottom: 300px;
        grid-column: span 12;
        text-align: center;

    }

    .heading-text h2 {
        font-size: 40px;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
    }

    .product-view {
        position: relative;
        bottom: 730px;
        left: 100px;
        grid-column: span 12;
    }

    .product-view button {
        font-size: 15px;
        padding: 10px;
    }

    main {
        position: relative;
        bottom: 650px;
    }

    .subheading {
        padding: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .subheading h3 {
        font-size: 30px;

    }

    .mission {
        grid-column: 3 / span 4;
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    #about {

        padding: 100px;
        padding-top: 50px;
        padding-bottom: 100px;
        font-weight: lighter;
        font-size: 20px;
    }


    #about h2 {
        font-size: 40px;
        font-weight: lighter;
        color: #A48300;
    }

    #about h3 {
        color: #A48300;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
    }

    #about img {
        width: 100%;

    }

    .pastry-video {
        position: relative;
        bottom: 700px;
    }

    #products {

        font-size: 20px;
        position: relative;
        bottom: 750px;
        padding: 70px;
    }

    #products h2 {
        color: #A48300;
        font-weight: 400;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }

    .bottom-part {
        position: relative;
        bottom: 400px;

    }

    .location h2 {
        font-size: 40px;
    }

    footer {
        justify-content: space-evenly;
        flex-flow: column;



    }

    footer .sign-up {
        height: 400px;
        align-self: center;
    }


    footer .sign-up form {
        font-size: 20px;
    }

    footer .sign-up h3 {
        font-size: 30px;

    }

    .sign-up #_submit {
        font-size: 15px;

    }


    footer .contact {
        align-self: center;
        font-size: 20px;
        height: 400px;
    }

    footer .contact p {
        font-size: 20px;

    }

    .bottom-part {
        margin-bottom: -80px;
    }

    .copyright p {
        font-size: 12px;
    }

    .copyright a {
        font-size: 12px;

    }

}

/* Animation Section */

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar img,
.nav-container {
    animation: fade-down 1s;
}

.navbar {
    animation: fade-in 1s;
}

.heading-text {
    animation: fade-in 1s;
}

.overlay {
    transition-property: all;
    transition-duration: 0.5s;
}

.overlay:hover {
    width: 100px;
    color: #A48300;
}

html {
    scroll-behavior: smooth;
}

.sign-up {
    transition-property: all;
    transition-duration: 0.5s;
}

.sign-up:hover {
    transform: scale(1.5, 1.5);
}

.contact {
    transition-property: all;
    transition-duration: 0.5s;
}

.contact:hover {
    transform: scale(1.5, 1.5);
}

#products li {
    transition-property: all;
    transition-duration: 0.5s;
}

#products li:hover {
    transform: scale(1.5, 1.5);
}